* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Light mode class */
.light {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh; /* This makes sure the background fills the screen */
  padding: 20px;
  transition: all 0.3s ease; /* Adds a smooth color fade */
}

/* Dark mode class */
.dark {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
  transition: all 0.3s ease;
}
