header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header img {
  border-radius: 1px;
}

nav ol {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.nav-list{
  display:flex;
  list-style:none;
  margin:50px;

}