*{
  box-sizing: border-box;
}
header >img{
  width:50px;
  margin-right:30px;
}
header{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  gap: 10px;
  background-color: brown;
  color:white
  
}
header > h1{
  font-size:1rem;
  font-family:Inter;
}
.entry {
  display: flex;
  justify-content:center;
  padding:10px;
  margin:20px;
  gap:10px;
}

.main-container {
  width: 122px;
  height: 150px;
  overflow: hidden;
}

.main-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.entry span {
  margin-right: 10px;
}